/* Import Google fonts */

/* included Abril and Fjalla */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fjalla+One&display=swap');

/* Customize fonts*/ 

body {
  font-family: "fjalla";
  font-size: 18px;
  color: black;
}

h2{
  font-family: "fjalla";
  font-size: 30px;
  color: purple;
}